
	/*MENU*/
.bg-dark {
	background-color: #000000!important;
}
#nav-item-active a{
	color:#ff0022;
	font-weight: 600;
	font-size: 15px;
}
#nav-item a{
	color: #ffffff;
	font-weight: 500 ;
	transition: all 0.9s;
	font-size: 15px;
}
#nav-item a:hover{
	color: #ff0022;
	font-weight: 600;
}
#navbar-brand{
	color: #ffffff;
	font-weight: 500;
	transition: all 0.9s;
}
#navbar-brand:hover{
	color: #ff0022;
	font-weight: 500;
}
#card{
	box-shadow: 4px 6px 8px #3d3b3b
}

.card-body a:hover{
	text-decoration: none;
}
	/*categori resim işlemleri*/
.img-thumbnail:hover{
	opacity: 0.5s
}
#PLR{
	box-shadow: 2px 2px 2px #d30d70 ;
	margin-bottom: 60px;
}
.yazı-rengi{
	color: #2897ab;
	font-weight: 650;
}

/* mobile uygun fonksiyonlar */
@media (max-width:320px){
	.card-title{
		font-size: 20px;
		text-align: center;
	}
	.title{
		font-size: 16px;
		margin-bottom: 15px;
		margin-top: 13px;
	}
}

@media (max-width:768px){
	.hr{
		margin: 100px 0px;
	}
}
/*min değerler*/
@media (min-width:320px){
	#nav-item-active a{
		font-size: 15px;
	}
	#nav-item a{
		font-size: 15px;
	}	
	#icon {
		height: 100%;   
		width: 60%;
	}
	.icon {
		padding-left: 80px;
		margin-bottom: 50px;
		height: 105px;
	}
	.hr{
		margin: 50px 0px;
	}
}
@media (min-width:375px){
	#icon {
		height: 100%;   
		width: 58%;
	}
	.icon {
		padding-left: 105px;
		margin-bottom: 50px;
		height: 120px;
	}
}
@media (min-width:425px){
	#icon {
		height: 100%;   
		width: 60%;
	}
	.icon {
		padding-left: 105px;
		margin-bottom: 50px;
		height: 155px;
	}
}

@media (min-width:768px){
	#nav-item-active a{
		font-size: 16px;
	}
	#nav-item a{
		font-size: 16px;
	}
	#icon {
		height: 38%;   
		width: 100%;
	}
	.icon {
		padding-left: 0px;
	}
	#resim-ilm{
		height: 400px;;
	}
	.card-title{
		font-size: 20px;
		margin-bottom:40px;
	}
	.title{
		font-size: 20px;
		margin-bottom: 15px;
	}

	#PLR{
		padding: 50px;
	}
}
@media (min-width:1024px){
	#icon {
		height: 68%;   
		width: 100%;
	}
	.icon {
		padding-left: 0px;
	}
}
@media (min-width:1440px){
	
	#icon {
		height: 70%;   
		width: 100%;	
	}
	.icon {
		padding-left: 0px;
		margin-bottom: 30px;
	}
}


	/*Categori 1 işlemleri*/

#Categori_list_1{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.9s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #f79604;
		margin: 0px auto;
}
#Categori_list_1:hover{
		background-color:#f79604;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}

	/*Categori 2 işlemleri*/
			
#Categori_list_2{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #dd492f;
		margin: 0px auto;
}

#Categori_list_2:hover{
		background-color:#dd492f;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}

	/*Categori 3 işlemleri*/

#Categori_list_3{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #d81687;
		margin: 0px auto;
}

#Categori_list_3:hover{
		background-color:#d81687;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}

	/*Categori 4 işlemleri*/

#Categori_list_4{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #ff0606;
		margin: 0px auto;
}

#Categori_list_4:hover{
		background-color:#ff0606;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}

	/*Categori 5 işlemleri*/

#Categori_list_5{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #ff00ff;
		margin: 0px auto;
}

#Categori_list_5:hover{
		background-color:#ff00ff;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}

	/*Categori 6 işlemleri*/

#Categori_list_6{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #062d47;
		margin: 0px auto;
}
#Categori_list_6:hover{
		background-color:#062d47;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}
	/*Categori 7 işlemleri*/

#Categori_list_7{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #810181;
		margin: 0px auto;
}

#Categori_list_7:hover{
		background-color:#810181;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}
	
	/*Categori 8 işlemleri*/

#Categori_list_8{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #3f8101;
		margin: 0px auto;
}

#Categori_list_8:hover{
		background-color:#3f8101;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}

	/*Categori 9 işlemleri*/

#Categori_list_9{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #059766;
		margin: 0px auto;
}

#Categori_list_9:hover{
		background-color:#059766;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}


	/*Categori 10 işlemleri*/

#Categori_list_10{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #008d2f;
		margin: 0px auto;
}

#Categori_list_10:hover{
		background-color:#008d2f;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}
	
/*Categori 11 işlemleri*/

#Categori_list_11{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #8d0036;
		margin: 0px auto;
}

#Categori_list_11:hover{
		background-color:#8d0036;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}

/*Categori 12 işlemleri*/

#Categori_list_12{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #c02600;
		margin: 0px auto;
}

#Categori_list_12:hover{
		background-color:#c02600;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}

/*Categori 13 işlemleri*/

#Categori_list_13{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #5a5053;
		margin: 0px auto;
}

#Categori_list_13:hover{
		background-color: #5a5053;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}
/*Categori 14 işlemleri*/

#Categori_list_14{
		background: #ffffffbd;
		color: #000000;
		width: 100%;
		text-align: left;
		margin-top:1px; 
		border-radius:0px;
		padding: 10px 0px 10px 15px;
		font-weight: 500;
		transition: 0.8s;
		transition-timing-function:  ease-in-out;
		border:0px;
		border-left: 10px solid #4b0c1f;
		margin: 0px auto;
}

#Categori_list_14:hover{
		background-color: #4b0c1f;
		padding-left: 20%;
		color: white;
		font-weight: 700;
}

.renk{
	background-color: #ffffff;
	margin-top: 59px;
    padding-bottom: 50px;
}
main .container{
    padding-top: 50px;
}

.table_hw{
		height: 40px;
		border: 2px solid cadetblue;
		background: #3bc1ff
}
#HTML_btn_primary{
		width: 100%;
		color: rgb(66, 65, 65);
		background-color: #ffffff;
		font-weight: 500;
		margin-bottom: 0px;
		border-radius:0px;
		text-align: left;
		padding-top: 10px;
		padding-bottom: 10px;
}
#HTML_btn_primary:hover{
   background-color:#f79604;
   transition: 1.5s;
   padding-left: 30px;
   color: white;
}
#btn_primary{
		color: #fff;
		background-color: #3bc1ff;
		padding:10px 40px 10px 40px;
		font-weight: 500;
		float: right;
		border-radius: 15px;
}
#btn_primary:hover{
		opacity: 0.5;
		transition: 1.1s
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20pc;
    
}
#myBtn {
			display: none;
			position: fixed;
			bottom: 30px;
			right: 40px;
			z-index: 99;
			border: none;
			outline: none;
			cursor: pointer;
			text-align: center;
			background-color:rgb(247, 150, 4);
			margin: 0px auto;
			padding-left: 10px;
			padding-right: 10px;
}
#myBtn:hover{
      opacity: 0.4;
      transition: 1.5s;
}
.hr{
    height: 3px;
    background-color: #e01515;
    border: none
}
  

  	/*Footer işlemleri*/
	
.bg-dark{
		background-color: #000000;
}

footer p{
		margin-top: 30px;
}
footer p a{
		color: #ff0022;
		text-decoration: none;
		font-weight:500; 
}
footer p a:hover{
		font-weight:500; 
		color: #b41f33;
}

/*sosyal iconlar işlemleri*/

.sosial:hover{
		opacity: 0.4;
		transition: 1.1s;
}

/*Yukarı çıkma buton işlemleri*/
  
.fa {
		padding: 10px;
		font-size: 20px;
		width: 40px;
		text-align: center;
		text-decoration: none;
		margin: 5px 2px;
		border-radius: 20pc;
}   
#return-to-top {
		position: fixed;
		bottom: 20px;
		right: 20px;
		background: rgb(0, 0, 0);
		background: #390358cc;
		width: 50px;
		height: 50px;
		display: block;
		text-decoration: none;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		border-radius: 35px;
		display: none;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
}
#return-to-top i {
		color: #fff;
		margin: 0 auto;
		position: relative;
		left: 5px;
		top: 10px;
		font-size: 20px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.4s ease;
}
#return-to-top:hover {
		background: #1d002c;
}
#return-to-top:hover i {
		color: #fff;
		top: 5px;
}
